<template>
  <v-app>
    <v-card class="mx-auto mt-6">
      <v-card-text>
        <canvas v-if="!detectedImage" ref="uploadCanvas" class="canvas" height="300" width="500"/>
        <v-img
          v-if="detectedImage"
          :src="detectedImage"
          contain
          height="300px"
          width="500px"
          class="mx-auto canvas"
        ></v-img>
      </v-card-text>
      <v-card-actions>
        <v-file-input
          v-model="uploadImage"
          label="Upload image"
          prepend-icon="mdi-file-image"
          accept=".jpeg, .png, .jpg"
          @change="handleImage"
          show-size
          :rules="rules"
        >
        </v-file-input>
      </v-card-actions>
    </v-card>
    <v-card class="mx-auto my-6" min-width="535">
      <v-card-title primary-title v-if="!isShowCamera">
        <v-row no-gutters>
          <v-btn class="success mx-auto" @click="openCamera">Open Camera</v-btn>
        </v-row>
      </v-card-title>
      <v-card-title v-else>
        <v-row no-gutters>
          <v-btn class="error mx-auto" @click="closeCamera">Close Camera</v-btn>
        </v-row>
      </v-card-title>
      <v-card-text >
        <v-row no-gutters>
          <canvas v-show="false" ref="snapshotCanvas" class="canvas mx-auto" height="300" width="400"/>
        </v-row>
        <v-row no-gutters>  
          <video v-show="isShowCamera && !isTakePhoto" ref="camera" height="300" width="500" autoplay class="mx-auto"></video>
        </v-row>
        <v-row no-gutters>
          <v-img
            v-if="cameraSnapshot"
            :src="cameraSnapshot"
            contain
            height="300px"
            width="500px"
            class="mx-auto canvas"
          ></v-img>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters v-if="isShowCamera">
          <v-btn v-if="!isTakePhoto" class="primary mx-auto" @click="takePhoto">Take photo</v-btn>
          <v-btn v-else class="warning mx-auto" @click="isTakePhoto = false; cameraSnapshot = ''">Reset</v-btn>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-app>
</template>

<script>
import nvision from '@nipacloud/nvision'

export default {
  name: 'App',
  data: () => ({
    uploadImage: null,
    base64Image: '',
    detectedImage: '',
    cameraSnapshot: '',
    isShowCamera: false,
    isTakePhoto: false,
    rules: [
      value => !value || value.size < 3000000 || 'Size should be less than 3 MB',
    ]
  }),
  methods: {
    handleImage () {
      this.detectedImage = ''
      if (this.uploadImage) {
        const reader = new FileReader()
        reader.onload = (e) => {
          this.base64Image = e.target.result
        }
        reader.onloadend = () => {
          const canvasName = 'uploadCanvas'
          this.detectObject(canvasName, this.base64Image)
        }
        reader.readAsDataURL(this.uploadImage)
      }
    },
    detectObject (canvasName, dataUrl) {
      const key = 'cdb29f355cb4059995e05420dc8d963f657898bf3a5f2f5e7a88c58279f5e4a0a1c4c4cf874594b42e413fc45c425425ac'
      const imageData = dataUrl.replace(/data:.+;base64,/, '')
      const detect = nvision.objectDetection({
        apiKey: key
      })
      detect.predict({
        rawData: imageData
      }).then(result => {
        this.drawRect(result.detected_objects, canvasName)
      }).catch(err => {
        console.log(err)
      })
    },
    drawRect (detectedObject, canvasName) {
      const canvas = this.$refs[canvasName]
      const ctx = canvas.getContext('2d')
      const image = new Image()
      image.onload = () => {
        canvas.width = image.width
        canvas.height = image.height
        ctx.drawImage(image, 0, 0, canvas.width, canvas.height)
        for (let i = 0; i < detectedObject.length; i++) {
          const item = detectedObject[i].bounding_box
          ctx.beginPath()
          ctx.lineWidth = '3'
          ctx.strokeStyle = 'red'
          ctx.rect(item.left, item.top, item.right - item.left, item.bottom - item.top)
          ctx.stroke()
        }
        if (canvasName === 'uploadCanvas') {
          this.detectedImage = canvas.toDataURL()
        } else {
          this.cameraSnapshot = canvas.toDataURL()
        }
      }
      image.src = canvasName === 'uploadCanvas' ? this.base64Image : this.cameraSnapshot
    },
    openCamera () {
      this.isShowCamera = true
       const constraint = (window.constraints = {
				audio: false,
				video: true
			})
      navigator.mediaDevices
        .getUserMedia(constraint)
        .then(result => {
          this.$refs.camera.srcObject = result
        })
        .catch(err => {
          console.log(err)
          alert('Connect to ')
        })
    },
    closeCamera () {
      const camera = this.$refs.camera.srcObject.getTracks()
      camera.forEach(data => {
        data.stop()
      })
      this.isShowCamera = false
      this.isTakePhoto = false
      this.cameraSnapshot = ''
    },
    takePhoto () {
      this.isTakePhoto = true
      const canvasName = 'snapshotCanvas'
      const canvas = this.$refs[canvasName]
      const ctx = canvas.getContext('2d')
      ctx.drawImage(this.$refs.camera, 0, 0, canvas.width, canvas.height)
      this.cameraSnapshot = canvas.toDataURL()
      this.detectObject(canvasName, this.cameraSnapshot)
    }
  }
}
</script>
<style scoped>
  .canvas {
    border: 1px solid black;
  }
</style>